*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --yellow:#FFC000;
  --orange:#DE8404;
  --lightviolet:#120B2A;
  --darkviolet:#06001C;
}
.darkviolet{
  background-color: var(--darkviolet);
}
.lightviolet{
  background-color: var(--lightviolet);
}
.yellowcolor{
  color: #FFC000;
}
.orangecolor{
  color: #DE8404;
}
/* landing start */
.titlebg{
  background-color: #EFE8FB;
}
.title{
  font-family: "Poppins", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.pera{
  font-size: 18px;
}
@media only screen and (max-width:768px){
  .title{
    font-size: 30px !important;
  }
  .pera{
    font-size: 15px;
  }
}
/* landing end */
/* transform life start */
.borderstyle{
  border:2px dotted white;
}
.borderstyle2{
  border:2px dotted var(--yellow);
}
.textsizefont{
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}
/* transform life end */