@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-serif;
}

.gujfont {
  font-family: "Hind Vadodara";
}
:root{
  --yellow:#FFC000;
  --orange:#DE8404;
  --lightviolet:#120B2A;
  --darkviolet:#06001C;
}
.darkviolet{
  background-color: var(--darkviolet);
}
.lightviolet{
  background-color: var(--lightviolet);
}
.yellowcolor{
  color: #FFC000;
}
.orangecolor{
  color: #DE8404;
}

.buttons {
  background-color: #120b2a;
}

.buttons:hover {
  background-color: #D60414;
}
/* landing start */
.titlebg{
  background-color: #EFE8FB;
}
.title{
  font-family: "Poppins", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.pera{
  font-size: 18px;
}
@media only screen and (max-width:768px){
  .title{
    font-size: 30px !important;
  }
  .pera{
    font-size: 15px;
  }
}
/* landing end */
/* transform life start */
.borderstyle{
  border:2px dotted white;
}
.borderstyle2{
  border:2px dotted var(--yellow);
}
.textsizefont{
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}
/* transform life end */