*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --yellow:#FFC000;
  --orange:#DE8404;
  --lightviolet:#120B2A;
  --darkviolet:#06001C;
}
.darkviolet{
  background-color: var(--darkviolet);
}
.lightviolet{
  background-color: var(--lightviolet);
}
.yellowcolor{
  color: #FFC000;
}
.orangecolor{
  color: #DE8404;
}